{deps, []}.

{erl_opts, [debug_info, warnings_as_errors]}.

{cover_enabled, true}.

{pre_hooks,
  [{"(linux|solaris|dragonfly|darwin|gnu|win32)", compile, "make compile-priv"},
   {"(freebsd|netbsd|openbsd)", compile, "gmake compile-priv"}]}.

{post_hooks,
  [{"(linux|solaris|dragonfly|darwin|gnu|win32)", clean, "make priv-clean"},
   {"(freebsd|netbsd|openbsd)", clean, "gmake priv-clean"}]}.
